@import "./reset.css";

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 150px.5fr 1fr;
}

.menu{
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: rgb(69,144,206);
}

.menu .links{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin-left: 5rem;
    gap: 2rem;
}

.menu .links a{
    text-decoration: none;
    color: white;
}


header{
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr
}

main{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-template-columns: 1fr .4fr ;
    grid-row-end: 4;
    display: grid;
    background-color: rgb(208,213,200);
    padding: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.project {
    border-left: 5px solid;
    border-left-color: orange;
    border-radius: .5rem;
    padding: .5rem;
    background-color: white;
}

main .aside {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 1rem;
    background-color: rgb(208,213,200);
    gap: 1rem;
}

main .aside .announcements {
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;

}


main .aside .trending {
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;

}





